  @media (max-width:429px) 
   
  
  {
    .Acceuil {
        height: 95%;
        justify-content: center;
    }
   .Acceuil .gauche p{
    font-size: 50px;
    width: 80%;
    margin-left: 10%;
   }
   .Acceuil .gauche span{
    font-size: 55px;
    
   }
   .Acceuil .droite {
    display: none;
   }
    .Acceuil .droite img{
    display: none;
   }

   .propos .propos_title{
    font-size: 50px;
    margin-left: -10%;
    font-family: 'cooper';
    text-align: center;
    justify-content: center;
   }
   .propos-content{
    margin-top: 6%;
    justify-content: center;
    flex-direction: column;
   }
   .propos_gauche .cercle-img{
    width: 300px;
    height: 300px;
    margin-left: 12%;
   }
   .propos_gauche .rectangle_img{
    width: 450px;
    margin-top: 40%;
   }
   .propos_gauche img{
    margin-left: 5%;
    width: 395px;
    height: 400px;
   }
   .btn_cv{
    transform: translateY(-10%);
    margin-left: 14%;
   }

   .propos_droite{
   margin-top: -145%;
   padding: 6%;
   margin-left: -2%;
   margin-right: 3% ;
   }
   .Services{
    margin-top: 8%;
   }
  }
  


  @media (max-width:375px) {
    .propos .propos_title{
  font-size: 40px;
  margin-left: -10%;
  margin-right: 12%;
  font-family: 'cooper';
  text-align: center;
  justify-content: center;
 } 
 
 .propos_droite{
    margin-top: -145%;
    padding: 10%;
    padding-right: 10%;
    margin-left: -2%;
    margin-right: 6% ;
    }
    .propos_gauche{
        margin-right: 32%;
    }
    .propos_gauche .rectangle_img{
        width: 450px;
        margin-top: 60%;
       }

       .bloc_services{
        display: flex;
        flex-wrap: wrap;
        padding-left: 4%;
      }
      .box{
        color: var(--color1);
        margin: 5%;
        width: 300px;
        height: 250px;
        border-radius: 10px;
        box-shadow: 0 8px 8px 0 rgba(34, 33, 33, 0.733);
      }
        
} 

@media (max-width:360px) {
    .propos_droite{
        margin-top: -145%;
        padding: 10%;
        padding-right: 13%;
        margin-left: -2%;
        margin-right: 9% ;
        }

        .logo img{
            width: 90px;
            height: 80px;
            cursor: pointer;
           
        }
}

@media (max-width:320px) {
    .Acceuil {
        height: 140%;
        justify-content: center;
    }
    
    .propos_droite{
        margin-top: -145%;
        padding: 10%;
        padding-right: 16%;
        margin-left: -2%;
        margin-right: 14% ;
        }

        .logo img{
            width: 90px;
            height: 80px;
            cursor: pointer;
           
        }
        .propos .propos_title{
            font-size: 40px;
            margin-left: -10%;
            margin-right: 18%;
            font-family: 'cooper';
            text-align: center;
            justify-content: center;
           } 

}